NEXT_PUBLIC_DEFAULT_EMAIL=""
NEXT_PUBLIC_BASE_URL="http://localhost:3001"

NODE_ENV=development

# openssl rand -base64 64
AUTH_SECRET=
TRUSTED_ORIGINS="http://localhost:3001"

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DATABASE_SETTINGS='./configs/database/drizzle-gcp.config.ts' # config/drizzle-mssql.config.ts, config/drizzle-gcp.config.ts
DATABASE_CLI_PORT=4000

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=""
DATABASE_PORT=3306
DATABASE_HOST=

DATABASE_FILENAME='file:local.db'

EMAIL_SMPT_HOST="smtp.resend.com"
EMAIL_SMPT_PASSWORD=""
EMAIL_SMPT_USER="resend"
EMAIL_SMPT_PORT=587 #587 - TLS Encrypted, 465 - SSL Encrypted
EMAIL_SMPT_SECURE="false"
